<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SyncTime" value="60"/>
    <!--<add key="DbName" value="SCGSYNINVEL" />
    <add key="DbUser" value="SYSTEM" />
    <add key="DbPassword" value="MCfrQ5sqbN+jF4LaoBXbNA==" />
    <add key="UserSap" value="manager" />
    <add key="PassSap" value="pc/QpUy5vtc=" />
    <add key="DbExists" value="0" />
    <add key="B1IFSapDb" value="0010000100" />
    <add key="B1IFUser" value="B1iadmin" />
    <add key="B1IFPass" value="kOp1x+zQ6x29ARhtw/fRLg==" />
    <add key="DbSAPName" value="SBOSISLOCARTEST" />
    <add key="ReiterateAlerts" value="0" />
    <add key="Pacifico" value="Caldera" />
    <add key="Sislocar" value="Limón" />
    <add key="DaysOfTotalLogs" value="5" />
    <add key="DaysOfWebLogs" value="5" />
    <add key="DaysOfMonitoringLogs" value="5" />
    <add key="DeleteMonitoringLogs" value="0" />-->

    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    
  </appSettings>
  <!--<appSettings file="">
    <clear />
    <add key="DbExists" value="0" />
    <add key="B1IFSapDb" value="0010000143" />
    <add key="B1IFUser" value="B1iadmin" />
    <add key="B1IFPass" value="kOp1x+zQ6x29ARhtw/fRLg==" />
    <add key="DbSAPName" value="SBOSISLOCARTEST" />
    <add key="Pacifico" value="Caldera" />
    <add key="Sislocar" value="Limón" />
    <add key="DbServer" value="b1hanascg01:30015" />
    <add key="DbName" value="SCGSYNINVEL" />
    <add key="DbUser" value="SYSTEM" />
    <add key="DbPassword" value="h+LjGOz5yvNtMmQb2y2MKg==" />
    <add key="UserSap" value="manager" />
    <add key="PassSap" value="3TTvMoSBUSg=" />
    <add key="ReiterateAlerts" value="0" />
    <add key="DaysOfTotalLogs" value="5" />
    <add key="DaysOfWebLogs" value="5" />
    <add key="DaysOfMonitoringLogs" value="5" />
    <add key="DeleteMonitoringLogs" value="0" />
  </appSettings>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ipostep_vP.001sap0003.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding" closeTimeout="00:02:02" openTimeout="00:02:02" receiveTimeout="00:10:00" sendTimeout="00:02:02" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="RJ_INTEGRASAPSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/B1iXcellerator/exec/soap/vP.001sap0003.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc" binding="basicHttpBinding" bindingConfiguration="ipostep_vP.001sap0003.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding" contract="B1IFForWindowsService.ipostep_vP001sap0003in_WCSX_comsapb1ivplatformruntime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPTipo_proc" name="ipostep_vP.001sap0003.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding_HTTP"/>
      <endpoint address="http://remote.sislocar.com/WS_RJ/RJ_INTEGRASAP.asmx" binding="basicHttpBinding" bindingConfiguration="RJ_INTEGRASAPSoap" contract="WS_RJ_INTEGRASAP.RJ_INTEGRASAPSoap" name="RJ_INTEGRASAPSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
