<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SCG.SyncBCCR.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="TCRMServicesWebServiceSoapBinding" closeTimeout="00:01:00"
				 receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
				 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
				 textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
				 messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="TipoCambioSoap">
					<security mode="Transport" />
				</binding>
				<binding name="TipoCambioSoap1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://www.superfinanciera.gov.co/SuperfinancieraWebServiceTRM/TCRMServicesWebService/TCRMServicesWebService"
				binding="basicHttpBinding" bindingConfiguration="TCRMServicesWebServiceSoapBinding"
				contract="WebServiceTRMReference.TcrmServicesInterface" name="TcrmServicesInterfaceImplPort" />
			<endpoint address="https://www.banguat.gob.gt/variables/ws/TipoCambio.asmx"
                binding="basicHttpBinding" bindingConfiguration="TipoCambioSoap"
                contract="WebServiceGUATReference.TipoCambioSoap" name="TipoCambioSoap" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<SCG.SyncBCCR.BL.Properties.Settings>
			<setting name="SCG_SyncBCCR_BL_cr_fi_bccr_gee_wsindicadoreseconomicos" serializeAs="String">
				<value>https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx</value>
			</setting>
			<setting name="SCG_SyncBCCR_BL_cl_bcentral_si3_SieteWS" serializeAs="String">
				<value>https://si3.bcentral.cl/SieteWS/SieteWS.asmx</value>
			</setting>
		</SCG.SyncBCCR.BL.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
